h1 {
    margin: 0;
    font-size: 54px;
    color: #20b4bb;
    font-weight: bold;
    text-align: center;
}

h2 {
    margin: 0;
    font-size: 35px;
    color: #bcbcbd;
    font-weight: bold;
    text-align: center;
}

h3 {
    margin: 0;
    padding: 0 33px;
    font-size: 35px;
    text-transform: uppercase;
    text-align: center;
    color: #20b4bb;
}

h4 {
    margin: 0;
    font-size: 35px;
    text-transform: uppercase;
    text-align: center;
    color: #9f15a9;
}

h5 {
    margin: 15px 0;
    font-size: 11px;
    color: #85908c;
    text-align: center;
}

.table {
    margin: auto;
    max-width: 600px;
    background-color: #0c131b;
    border-collapse: collapse;
    box-sizing: border-box;
    font-family: Arial;
}

.scope_container {
    padding: 0 50px;
}

.scope {
    margin: 30px 0;
    font-size: 14px;
    color: #86918c;
}

.scope b,
.main_sentence b,
.scope_stream b {
    color: #e8a336;
}

.scope a,
.scope_stream a {
    font-size: 15px;
    color: #fa5d26;
    text-decoration: none;
}

.scope a:hover,
.scope_stream a:hover  {
    text-decoration: underline;
}

.image {
    vertical-align: bottom;
}

.main_sentence p {
    margin: 0;
    padding: 0 54px 40px;
    font-size: 14px;
    line-height: 22px;
    color: #86918c;
}

.buy_button {
    text-align: center;
}

.buy_button a {
    display: inline-block;
    width: 300px;
    padding: 15px 0;
    border-radius: 3px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #fffff8;
    background-color: #9f15a9;
}

.buy_button:hover > a {

}

.padding0 {
    padding: 0;
    font-size: 23px;
    text-align: center;
}

.pre_order_button {
    margin: 17px 0;
}

.table .pre_order_button a {
    padding: 15px 40px;
    font-size: 18px;
}

.padding40 {
    padding: 0 40px;
    text-align: center;
}

.scope_stream {
    padding-bottom: 60px;
}

.scope_stream p {
    margin: 0;
    padding: 35px 50px 40px;
    font-size: 14px;
    color: #86918c;
}

.stream_button {
    margin: 40px 0 60px;
    padding: 0 113px;
}

.scope_stream .stream_button a {
    text-decoration: none;
}

.support {
    font-size: 36px;
    color: #263870;
    font-weight: bold;
    text-align: center;
}

.contacts {
    padding: 0 80px;
    font-size: 14px;
    line-height: 22px;
    color: #000000;
    text-align: center;
}

.footer {
    background-color: #ebd2aa;
}

.footer a {
    font-size: 14px;
    font-weight: bold;
    color: #b25000;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

.footer b {
    color: #b25000;
}

.social_networks {
    text-align: center;
}