body {
    margin: 0;
    font-family: Arial;
}

h1 {
    margin: 0;
    padding: 0 60px;
    font-size: 54px;
    color: #20b4bb;
    font-weight: bold;
}

h2 {
    margin: 0;
    padding: 10px 170px 40px;
    font-size: 35px;
    color: #bcbcbd;
    font-weight: bold;
}

h3 {
    margin: 0;
    padding: 0 33px;
    font-size: 35px;
    text-transform: uppercase;
    text-align: center;
    color: #20b4bb;
}

h4 {
    margin: 0;
    font-size: 35px;
    text-transform: uppercase;
    text-align: center;
    color: #9f15a9;
}

h5 {
    margin: 0;
    font-size: 11px;
    color: #85908c;
    text-align: center;
}

.table {
    margin: auto;
    max-width: 600px;
    background-color: #0c131b;
    border-collapse: collapse;
}

.scope {
    padding: 0 70px 35px 55px;
    font-size: 14px;
    line-height: 22px;
    color: #86918c;
}

.scope p {
    margin: 0;
}

.scope b,
.main_sentence b {
    color: #e8a336;
}

.scope a {
    font-size: 14px;
    line-height: 22px;
    color: #fa5d26;
    text-decoration: none;
}

.scope a:hover {
    text-decoration: underline;
}

.main_sentence figure,
.pre_order_sentence figure {
    margin: 0;
}

.main_sentence p {
    margin: 0;
    padding: 0 54px 40px;
    font-size: 14px;
    line-height: 22px;
    color: #86918c;
}

.buy_button {
    padding: 0 150px;
}

.buy_button a,
.pre_order_button a,
.stream_button a {
    width: 300px;
    padding: 15px 30px;
    /* padding: 13px 56px; */
    border-radius: 3px;
    font-size: 24px;
    text-decoration: none;
    text-transform: uppercase;
    color: #fffff8;
    background-color: #9f15a9;
}

.buy_button:hover > a {

}

.some_class {
    padding: 0;
    font-size: 23px;
    text-align: center;
}

.pre_order_button {
    margin: 17px 0;
    font-size: 18px;
}

.table .pre_order_button a {
    padding: 15px 40px;
    font-size: 18px;
}

.another_h2 {
    padding: 0 40px;
    text-align: center;
}

.scope_stream {
    padding: 0 50px;
}

.stream_button {
    margin: 10px 0;
    font-size: 18px;
}

.support {
    font-size: 36px;
    color: #263870;
    font-weight: bold;
    text-align: center;
}

.contacts {
    padding: 0 80px;
    font-size: 14px;
    line-height: 22px;
    color: #000000;
    text-align: center;
}

.footer {
    background-color: #ebd2aa;
}

.footer a {
    font-size: 14px;
    font-weight: bold;
    color: #b25000;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

.footer b {
    color: #b25000;
}